*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

#root {
  min-height: 100vh;
}


.inventory-box {
  display: grid;
  gap: 20px;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

.inventory-slot{
  background-color: darkgoldenrod;
  width: 48px;
  height: 48px;
  padding : 0;
}
